<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <h1>Fitness Leaderboard</h1>
    <div class="button-container">
        <a href="https://fitness-leaderboard.onrender.com/authorize" class="auth-button">Authorize with Strava</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Total Distance (km)</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in leaderboard %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ athlete.firstname }} {{ athlete.lastname }}</td>
                <td>{{ "%.2f"|format(athlete.total_distance / 1000) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>